html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	color: var(--font-color);
}

:root {
	font-size: 16px;

	--spacing-1: 0.5rem;
	--spacing-2: 0.75rem;
	--spacing-3: 1rem;
	--spacing-4: 1.5rem;

	--border-radius: 0.75rem;

	--font-color: #f8f8f2;
	--bg-color: #282a36;
	--current-line-color: #44475a;
	--comment-color: #6272a4;
	--cyan: #8be9fd;
	--green: #50fa7b;
	--orange: #ffb86c;
	--pink: #ff79c6;
	--purple: #bd93f9;
	--red: #ff5555;
	--yellow: #f1fa8c;
}

h2 {
	font-family: JetBrains Mono, sans-serif;
	margin: 0;
	margin-bottom: var(--spacing-2);
}

body {
	font-family: JetBrains Mono, sans-serif;
	margin: 0;
	padding: 0 var(--spacing-3);
	max-width: 56.25rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: var(--bg-color);
}

nav {
	display: flex;
	align-items: center;
	padding: var(--spacing-3) 0;
}

.nav-items {
	display: flex;
	list-style-type: none;
	padding: 0;
	align-items: center;
	margin: 0;
	margin-left: auto;
}

.nav-item {
	margin-right: var(--spacing-3);
}

.pfp {
	width: 15.625rem;
	border-radius: var(--border-radius);
	flex-shrink: 1;
	margin-left: auto;
}

.intro-container {
	display: flex;
}

.intro-text-container {
	margin-right: var(--spacing-3);
}

/* START HERE */
.project-image {
	width: 50%;
}

.project-title h3 {
	display: inline;
}

details {
	cursor: pointer;
}

summary {
	list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: auto;
	padding: var(--spacing-2) 0;
	text-align: center;
}

/* START HERE */
section {
	padding: var(--spacing-3) 0;
}

.icon {
	font-size: 2rem;
	color: var(--font-color);
	margin: 0 var(--spacing-1);
}

a {
	color: var(--font-color);
	text-decoration: none;
	font-weight: 600;
}

#logo {
	margin: 0;
}

#skills-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* #skills-container > * {
	font-size: 2em;
	width: 2em;
	margin-top: var(--spacing-1);
} */

i {
	font-size: 2rem;
}

@media only screen and (max-width: 685px) {
	.about-me-container {
		flex-direction: column;
	}
	.pfp {
		display: none;
	}
	:root {
		font-size: 14px;
	}
}

/* ---COLOUR THEME--- */
h2 {
	color: var(--pink);
}

h3 {
	color: var(--orange);
}

h4 {
	color: var(--green);
}

p {
	color: var(--comment-color);
}

span {
	color: var(--cyan);
}

a {
	color: var(--yellow);
}
